* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: sans-serif;
  background: black;
  overflow: hidden;
}

.🌌 {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-height: calc(100vh - 5rem);
  max-width: calc(100vw - 5rem);
}

.animationOpenAstroid {
  animation: openAstroid 1s ease-out forwards;
  z-index: 3;
}

.🌠 {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  color: white;
  background: red;
  transition: all .3s;
}

.🌠 > p {
  font-size: .8em;
  margin: -2em;
}

.animationOpenAstroid > p {
  display: none;
}

.🌠 > article {
  width: 80%;
  margin: auto;
}

.🌠 > article p {
  margin: 1em 0;
}

.🌠 > article h1 {
  margin-top: 12.5vh;
}

.🌠 > article a {
  color: white;
}

.🌠 > article a:hover {
  text-decoration: none;
}

.🌠 > article button {
    display: block;
    margin: 5em auto;
    border: none;
    background: black;
    color: white;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    cursor: pointer;
    transition: all .3s;
}

.🌠 > article button:hover, .🌠 > article button:focus {
  background: white;
  color: black;
}

.🌠 .flag {
  position: absolute;
  background-image: url('https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/Astronaut_0o7w.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
  /* background: green; */
}

.animationOpenAstroid .flag {
  bottom: 0;
  left: 1em;
  width: 7em;
  height: 7em;
}

.🚀 {
  position: absolute;
  top: 0;
  z-index: 1;
}

.🚀 .image {
  background-image: url('https://images.vexels.com/media/users/3/145820/isolated/preview/7659c36de6f70eaf26a1854af11ac710-rocket-clipart-by-vexels.png');
  background-size: contain;
  transform: rotate(0deg);
  transition: transform .3s;
  height: 5rem;
  width: 5rem;
}

.🚀:not(.client) {
  opacity: .5;
}

.landing {
  position: absolute;
  opacity: 0;
  animation: landing 3s ease-out forwards .5s;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.landing .image, .launch .image {
  background-image: url('https://images.vexels.com/media/users/3/145820/isolated/preview/7659c36de6f70eaf26a1854af11ac710-rocket-clipart-by-vexels.png');
  background-size: contain;
  height: 10rem;
  width: 10rem;
}

.land {
  animation: land 3s ease-out forwards;
}

.launch {
  position: absolute;
  opacity: 0;
  animation: launching 3s ease-in forwards;
  bottom: 0;
  right: 0;
  z-index: 2;
}

article {
  opacity: 0;
  animation: fadeIn 1s ease forwards 3s;
}

[data-orientation = "up"] .image {
  transform: rotate(0deg);
}

[data-orientation = "down"] .image {
  transform: rotate(180deg);
}

[data-orientation = "left"] .image {
  transform: rotate(-90deg);
}

[data-orientation = "right"] .image {
  transform: rotate(90deg);
}

@keyframes openAstroid {
  0% {
  }

  99% {
    width: 150vw;
    height: 150vw;
    left: -25vw;
    top: -25vw;
    border-radius: 50%;
  }

  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    top: 0;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(1.5em);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes landing {
  from {
    transform: translateY(-150vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes launching {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-150vh);
    opacity: 0;
  }
}

@keyframes land {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.error {
  text-align: center;
  position: absolute;
  background: red;
  width: 100%;
  color: #fff;
  padding: 1em;
  transform: translateY(-5em);
  transition: all .3s;
  z-index: 4;
}

.show {
  transform: translateY(0);
}